@import "../../variables.scss";

.btn-confetti {
  background-color: $verde-succes;
  border-color: $verde-succes;
}

.btn-whitout-confetti {
  background-color: $rojo-error;
  border-color: $rojo-error;
}
