$azul: #4f70f5;
$azul-oscuro: #4a5fb3;
$azul-claro: #4f70f5;

$naranja: #fe9352;
$naranja-oscuro: #df7c40;

$verde: #7ed858;
$verde-oscuro: #64b343;
$verde-oscuro-opacity: rgba(101, 179, 67, 0.1);
$verde-btn: #22a237;
$verde-enun: #f9fff7;
$verde-succes: #008f39;

$rojo: #f05b5d;
$rojo-oscuro: #af3c3e;
$rojo-error: #ff0000;

$gris-letras: #ababab;
$gris-letras-claro: #e2e2e2;
