@import "../../variables.scss";

.cont-challenge {
  width: 100%;

  .child {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px;

    .timmer {
      background-color: #ffffff;
      border: 2px solid $rojo;
      color: $rojo;
      height: 30px;
    }

    .points {
      height: 30px;
      background-color: $naranja;
    }
  }

  .chlid-2 {
    .statement {
      background-color: $verde-enun;
      border: 2px solid $verde-btn;
    }

    .cont-answers {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
      margin: 20px 0;
    }
  }
}

.contenedorPP-challenge {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.control-btn {
  position: sticky;
  bottom: 0;

  .btn-continue {
    width: 100%;
    background-color: $verde-btn;
    color: #fff;
    border-color: $verde-btn;
  }
}
